.my-works__item {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: center;
  & img {
    height: 20em;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: scale-down;
  }
  & span {
    line-height: 2.5em;
    display: block;
  }
}

.modal {
  padding: 0;
  width: 50%;
  text-align: center;
  border-radius: 3px;
  & img {
    display: block;
    margin: 0 auto;
    object-fit: scale-down;
  }
  & p {
    margin: 1em;
  }
}

.modal-image-wrap {
  background-color: #e4edfb;
}

.uk-flex-top > .modal > h2 {
  margin-bottom: 1em;
}

.project-readme {
  text-align: left;
  padding: 1em;
}

// .uk-slider-items > * {
//   flex: auto;
// }
