@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #7c7c7c;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
