@import '../../styles/colors.scss';

.admin-panel-container {
  display: flex;
}

.tabs-container {
  width: 10%;
  height: 100vh;
  padding: 3em 0 3em 1em;
  background-color: $bg-gray;
  border-right: 1px solid $gray-light;

  & li a {
    text-align: right;
    margin-bottom: 2em;
    font-size: 1.2em;
  }
}

.admin-contacts-wrap {
  display: flex;
  flex-direction: column;
}

.contact-edit-wrap {
  display: flex;

  & input {
    width: 60%;
  }

  & .btn {
    width: 10%;
    margin-left: 1em;
    padding: 0.3em;
    text-align: center;
  }
}

.tabs-content {
  & label input {
    margin-right: 1em;
  }

  .uk-checkbox {
    width: 40px;
    height: 40px;

    &:checked,
    &:focus {
      background-color: #7c7c7c;
      border-color: #7c7c7c;
    }
  }
}

.uk-tab-left::before {
  border: none;
}

.uk-tab > .uk-active > a {
  border-right: 3px solid $gray-primary;
}
